/*Responsividade*/

@media (max-width: 475.98px) {

	div#login {
		position: absolute;
		top: 30%;
		left: 10%;
	}	

	div#album {
		position: absolute;
		left: 11%;
		display: none;
	}


}

@media (min-width: 475.99px) and (max-width: 575.98px) {

	div#album {
		position: absolute;
		left: 11%;
		display: none;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {

	div#album {
		position: absolute;
		left: 11%;
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {

	div#album {
		position: absolute;
		left: 20%;
		display: none;
	}
}


body {
	background: url('../assets/bg10.jpg') no-repeat center;
	background-color: #071918;
	background-size: cover;
}

html, body, #main {
	height: 100%;
}

@font-face {
	src: url('../fonts/love.woff');
	font-family: 'love';
}

@font-face {
	src: url('../fonts/love2.woff');
	font-family: 'love2';
}

#login, #album {
	position: absolute;
	display: none;
}

#login{
	top: 30%;
	left: 15%;
}

#album {
	left: 38%;
}

.titulo, .label-erro {
	font-family: love;
}

.label-foto, .label-login {
	color: #F7F2E0;
	font-family: love2;
}

.label-foto {
	font-size: 1.3em;
}


.label-erro {
	color: #F7F2E0;
}

.card {
	background-color: rgba(138, 8, 41, 0.5);
	border-radius: 15px;
}

.input-login {
	border-radius: 12px;
}

.btn-outline-danger {
    color: #F7F2E0 !important;
    background-color: transparent;
    background-image: none;
    border-color: #F7F2E0 !important;
}

.btn-outline-danger:hover {
	background-color: rgba(138, 8, 41, 1);
}

.fotos {
	border-radius: 25px;
}

.data {
	font-family: love;
	padding: 10px;
	text-shadow: 0 0 1em red;
}